.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wod {
  width: 80vw;
}

.pron {
  font-style: italic;
  margin: 0;
}

.pron-sound {
  font-size: 45px;
}

.pron-sound:hover {
  border: 1px solid green;
  border-radius: 50%;
  cursor: pointer;
}
